[submodule "PISR/PISR"]
	path = PISR/PISR
	url = https://github.com/cvlab-yonsei/PISR.git
[submodule "SFNet/SFNet"]
	path = SFNet/SFNet
	url = https://github.com/cvlab-yonsei/SFNet.git
[submodule "MNAD/MNAD"]
	path = MNAD/MNAD
	url = https://github.com/cvlab-yonsei/MNAD
[submodule "RRID/RRID"]
	path = RRID/RRID
	url = https://github.com/cvlab-yonsei/RRID
[submodule "ISGAN/ISGAN"]
	path = ISGAN/ISGAN
	url = https://github.com/cvlab-yonsei/ISGAN
[submodule "FlowGRU/FlowGRU"]
	path = FlowGRU/FlowGRU
	url = https://github.com/cvlab-yonsei/FlowGRU
[submodule "dkn/dkn"]
	path = dkn/dkn
	url = https://github.com/cvlab-yonsei/dkn
[submodule "EWGS/EWGS"]
	path = EWGS/EWGS
	url = https://github.com/cvlab-yonsei/EWGS.git
[submodule "BANA/BANA"]
	path = BANA/BANA
	url = https://github.com/cvlab-yonsei/BANA.git
[submodule "HVPR/HVPR"]
	path = HVPR/HVPR
	url = https://github.com/cvlab-yonsei/HVPR
